<%= form_with(model: @multa) do |form| %>
  <% if multum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(multum.errors.count, "error") %> prohibited this multum from being saved:</h2>

      <ul>
        <% multum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :historialuso, style: "display: block" %>
    <%= form.text_field :historialuso %>
  </div>

  <div>
    <%= form.label :references, style: "display: block" %>
    <%= form.text_field :references %>
  </div>

  <div>
    <%= form.label :monto, style: "display: block" %>
    <%= form.text_field :monto %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
