<div id="<%= dom_id multa %>">
  <p>
    <strong>Descripcion:</strong>
    <%= multa.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= multa.user_id %>
  </p>

  <p>
    <strong>Historialuso:</strong>
    <%= multa.historialuso %>
  </p>

  <p>
    <strong>References:</strong>
    <%= multa.references %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= multa.monto %>
  </p>

</div>
