<p style="color: green"><%= notice %></p>

<%= render @multum %>

<div>
  <%= link_to "Edit this multa", edit_multum_path(@multum) %> |
  <%= link_to "Back to multa", multa_index_path %>

  <%= button_to "Destroy this multa", @multum, method: :delete %>
</div>
