<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../../assests/stylesheets/aplication.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&family=Raleway:wght@100&family=Roboto:wght@100&family=Ubuntu:wght@300;400;500;700&display=swap');
    
    *{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

    .boton{
        position: fixed;
        right: 15px;
        padding: 15px;
        z-index: 10;
    }
    .content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 25px;
    }
    .parent {
      display: flex;
      flex-wrap: wrap;
      padding:20px;
    }
    .child {
      flex: 40%;
      text-align: center;
      padding:50px;
    }
    table{
        table-layout: fixed;
    }

    th, td {
        width: 400px;
        word-wrap: break-word;
    }

</style>
<body>
    
    <% if user_signed_in? %>
        
        <% if current_user.supervisor? %>
            <h2> Todos los usuarios </h2>
            <div class="parent">
                <div class="child">
                    <h1>Usuarios sin validar</h1>
                    <table>
                    <th> 
                        <tr> Nombre </tr> 
                        <tr> Apellido </tr> 
                        <tr> Fecha vencimiento  </tr> 
                    </th>
                    <% @sinValidar.each do |u| %>
                        <% @foto = Fotouser.find_by("id_user": u.id)%>
                        <% if @foto != nil && u.fecha_ven >= DateTime.now %>
                        <tr>
                            <td>
                                <%=  u.nombre %> <%= u.apellido %> <%= u.fecha_ven %>
                                <%= link_to 'ver detalle', usuarios_show_path(:id => u.id)%>
                            </td>
                        </tr>
                        <% end %>
                        
                    <% end %>
                    </table>
                </div>
            
                <div class="child">
                    <h1>Usuarios rechazados</h1>
                    <table>
                    <th> 
                        <tr> Nombre </tr> 
                        <tr> Apellido </tr> 
                        <tr> Fecha vencimiento  </tr> 
                    </th>
                    <% @rechazados.each do |u| %>
                        <% @foto = Fotouser.find_by("id_user": u.id)%>
                        
                        <% if @foto != nil %>
                        <tr>
                            <td>
                                <%=  u.nombre %> <%= u.apellido %> <%= u.fecha_ven %>
                                <%= link_to 'ver detalle', usuarios_show_path(:id => u.id)%>
                            </td>
                        </tr>
                        <% end %>
                        
                    <% end %>
                    </table>
                </div>   
            </div>

            <p> <%= link_to 'Volver inicio', root_path%></p>
        <% end %>
    <% else %>
        <h1>AlquilApp </h1>
    <% end %>
</body>
</html>

