<%= form_with(model: reporte) do |form| %>
  <% if reporte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
        <% reporte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descripcion, style: "display: block" %>
    <%= form.text_area :descripcion %>
  </div>

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.datetime_field :fecha %>
  </div>

  <div>
    <%= form.label :auto_id, style: "display: block" %>
    <%= form.select :auto_id, options_for_select(Auto.all.map{|s|[s.patente, s.id]}) %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.select :user_id, options_for_select(User.where(rol: 2).map{|s|[s.dni, s.id]}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
