<%= form_with(model: tarjetum) do |form| %>
  <% if tarjetum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tarjetum.errors.count, "error") %> prohibited this tarjetum from being saved:</h2>

      <ul>
        <% tarjetum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numero_de_tarjeta, style: "display: block" %>
    <%= form.text_field :numero, maxlength: 16 %>
  </div>

  <div>
    <%= form.label :fecha_vencimiento, style: "display: block" %>
    <%= form.text_field :mes_ven, maxlength: 2%> / <%= form.text_field :anio_ven, maxlength: 2 %>
  </div>

  <div>
    <%= form.label :nombre_titular, style: "display: block" %>
    <%= form.text_field :nombre_titular %>
  </div>

  <div>
    <%= form.label :codigo_seguridad, style: "display: block" %>
    <%= form.text_field :codigo_seguridad, maxlength: 2%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
