<div id="<%= dom_id tarjetum %>">
  <p>
    <strong>Numero:</strong>
    <%= tarjetum.numero %>
  </p>

  <p>
    <strong>Fecha ven:</strong>
    <%= tarjetum.fecha_ven %>
  </p>

  <p>
    <strong>Nombre titular:</strong>
    <%= tarjetum.nombre_titular %>
  </p>

  <p>
    <strong>Contras:</strong>
    <%= tarjetum.contras %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= tarjetum.monto %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tarjetum.user_id %>
  </p>

</div>
