<div id="<%= dom_id ticket %>">
  <p>
    <strong>Descripcion:</strong>
    <%= ticket.descripcion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Historial uso:</strong>
    <%= ticket.historial_uso_id %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= ticket.monto %>
  </p>

</div>
