<div id="<%= dom_id ticket %>">
  <p>
    <strong>Realizada a:</strong>
    <%= ticket.user.nombre %> <%= ticket.user.apellido %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= ticket.descripcion %>
  </p>

  <p>
    <strong>Monto cobrado:</strong>
    <%= ticket.monto %>
  </p>

</div>
