<script>
navigator.geolocation.getCurrentPosition((pos) => {
  document.querySelector("#auto_location_point_x").value =
    `${pos.coords.latitude}`;
});
navigator.geolocation.getCurrentPosition((pos) => {
  document.querySelector("#auto_location_point_y").value =
    `${pos.coords.longitude}`;
});
</script>

<% auto.errors.each do |error| %>
  <li><%= error.full_message %></li>
<% end %>

<%= form_with model: auto do |f| %> 
    
    <div><%= f.label :Patente %> <br />
    <%= f.text_field :patente %></div>

    <div><%= f.label :Modelo %> <br />
    <%= f.text_field :modelo %></div>

    <div><%= f.label :Marca %><br />
    <%= f.text_field :marca %></div>
    
    <div><%= f.label :descripcion %><br />   
    <%= f.text_area :descripcion %></div>
    
    <div><%= f.label :"cantidad puertas" %><br />
    <%= f.number_field :cant_puertas, in: 1..20, step: 1 %> </div>
    
    <div><%= f.label :"cantidad combustible" %><br />
    <%= f.number_field :cant_combustible, in: 1..100, step: 0.1 %></div>

    <div><%= f.label :"foto auto" %><br />
    <%= f.file_field :foto, accept: 'image/png,image/jpeg' %></div>
    <div> <%= f.label :"foto del seguro " %><br />
    <%= f.file_field :fotodocumentacion, accept: 'image/png,image/jpeg'%> </div>

    <%= f.hidden_field :location_point_x %>
    <%= f.hidden_field :location_point_y %>
    
    <div><%= f.submit 'Guardar' %></div>
<% end %>