<% require 'devise/version' %>
<p><%= t('.greeting', :recipient => @resource.email, :default => "Hola #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Alguien ha requerido el link para cambiar tu contraseña, puedes hacerlo a traves del siguiente link.") %></p>

<p><%= link_to t('.action', :default => "Cambiar mi contraseña"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('3.') ? @token : @resource.reset_password_token)) %></p>

<p><%= t('.instruction_2', :default => "Si no fuiste tu quien requirio el cambio de contraseña, por favor ignora este email. .") %></p>
<p><%= t('.instruction_3', :default => "Tu contraseña no cambiará hasta que accedas al link y crees una nueva. ") %></p>
