<div id="<%= dom_id historial_uso %>">

<p>
  <strong>Nombre y Apellido: </strong>
  <%= historial_uso.user.nombre %> <%= historial_uso.user.apellido %> 
  </p>

  <p>
    <strong>Vehiculo: </strong>
    <%= historial_uso.auto.marca %> <%= historial_uso.auto.modelo %> <%= historial_uso.auto.patente %> </p>
  </p>

  <p>
    <strong>Fecha de entrega: </strong>
    <%= historial_uso.fechaInicio.day%>/<%= historial_uso.fechaInicio.month%>/<%= historial_uso.fechaInicio.year%>   -   
    <%= historial_uso.fechaInicio.hour%>:<%= historial_uso.fechaInicio.min%> hs.
  </p>

  <p>
    <strong>Fecha de devolucion: </strong>
    <%= historial_uso.fechaFinal.day%>/<%= historial_uso.fechaFinal.month%>/<%= historial_uso.fechaFinal.year%>   -   
    <%= historial_uso.fechaFinal.hour%>:<%= historial_uso.fechaFinal.min%> hs.
  </p>

  <p>
    <strong>Cantidad de horas alquiler:</strong>
    <%= historial_uso.cantHoras %>
  </p>

  <p>
  <strong>Cantidad horas extras:</strong>
    <% if historial_uso.horasExtra == nil%>
      0
    <% else %>
      <%= historial_uso.horasExtra %>
    <% end %>    
  </p>

  <p>
  <strong>Monto:</strong>
  <%= historial_uso.monto %>
  </p>

  <p>
  <strong>Monto horas extra:</strong>
    <% if historial_uso.horasExtra == nil%>
      0
    <% else %>
      <%= historial_uso.horasExtra * 1500%>
    <% end %>
  </p>

  <p>
  <strong>Multas:</strong>
  0
  </p>
  


</div>
